html {
    height: 100%;
}

body {
    min-height: 100%;
    background: linear-gradient(to bottom, #2b3035, rgba(43, 48, 53, 0.84));
    color: white;
}

.profile-image {
    width: 300px;
    height: auto;
    border-radius: 50%;
}

.main {
    border: rgba(0, 0, 0, 0.13) 2px solid;
    border-radius: 12px;
    margin-top: 2%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.image-container-info {
    display: flex;
    margin: 1%;
}

.perf-image {
    margin: 1%;
    float: left;
}

.articulo {
    margin: 1%;
    display: flex;
    font-size: 20px;
    font-family: "JetBrains Mono", Arial, serif;
}

.main-footer {
    margin-top: 2%;
    bottom: 0;
    width: 100%;

}

.main-footer-first {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #191d1e;
}

.main-footer-second {
    padding: 1%;
    background: #0d0d0d;
}

/* TODO Fix CSS of Social Networks */
.social-network-ico-link {
    color: white;
    text-decoration: none;
}

.social-network-ico {
    height: 45px;
    width: 100px;
}

@media (max-width: 720px) {
    .social-network-ico {
        height: 20px;
        width: 50px;
    }

}

.social-network {
    display: flex;
    justify-content: space-between;
    float: right;
    list-style: none;
}

#changing-text {
    animation: change-text 5s infinite;
}

#copyright {
    font-size: 12px;
    color: #ddd;
}

#designed {
    text-decoration: none;
    font-size: 12px;
    color: #dddddd;
}

#designed a {
    text-decoration: none;
    color: #dddddd;
}

#designed a:hover {
    color: rgba(246, 87, 26, 0.84);
}

@keyframes change-text {
    0% { content: "Rotular"; }
    50% { content: "Trabajo con Pladur"; }
    100% { content: "Encuadernar motos"; }
}

